<%= form_for @courseofstudy, :html => { :class => "form-horizontal courseofstudy" } do |f| %>

  <% if @courseofstudy.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@courseofstudy.errors.count, "error") %> prohibited this courseofstudy from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @courseofstudy.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :symbol, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :symbol, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, rows: 6, :class => 'form-control',
                       placeholder: 'Description of Courseofstudy' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :faculty_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= select_tag "courseofstudy[faculty_id]", 
          options_from_collection_for_select(Faculty.all, "id", "name",
          :selected => @courseofstudy.faculty_id),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :studytype_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select_tag "courseofstudy[studytype_id]", 
          options_from_collection_for_select(Studytype.all, "id", "name",
          :selected => @courseofstudy.studytype_id),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                courseofstudies_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

  