<%
  @notificationtype.id.present? ?
      path_url = moderator_notificationtype_path(@notificationtype)
    : path_url = moderator_notificationtypes_path(@notificationtype)
%>

<%= form_for @notificationtype, url: path_url,
             :html => { :class => "form-horizontal notificationtype" } do |f| %>

  <%= render 'shared/form_errors', obj: @notificationtype %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, rows: 6, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
               moderator_notificationtypes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

