<div class="row">
  <% @lectures.each do |lecture| %>
    <% 
      assoziation = lecture.assoziations.first
      materials = lecture.materials
     
    %>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="user-show-title">
         <%= lecture.name %> -
         <%= assoziation.code %> -
         <%= assoziation.instructor %> 
        </div>
        <div class="user-show-body">
          <%= lecture.description %>
         
        </div>
        <div class="user-show-actions">
          <% materials.each do |material| %>
            <span class="badge">
              <%= material.name %>
              <%#= link_to material.name, user_category_lectures_path(category) %> &nbsp;
            </span>
          
          <% end %>
          <%#= link_to 'Show Show all Sections', 
              user_faculty_courseofstudy_path(params[:faculty_id], courseofstudy),
             class: "btn btn-primary" %>
        </div>
      </div>
    </div> 
  <% end %>
</div>
 <%#= link_to 'Back', user_faculties_path(), 
              class: "btn btn-default" %></h2>
<%= params.inspect %>
