<!-- index =>  Faculties / IngWi / PIB / Lectures  -->

<div class="row">
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakultäten</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>"><%= @faculty.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_faculty_courseofstudies_path(params[:faculty_id]) %>">
          Studiengänge</a>
    </li>
    <li class="breadcrumb-item active">
      <%= @courseofstudy.name + " - " + @category.name %>
    </li>
  </ol>
  
  <center><%= paginate @assoziations %></center>
  
  <% @assoziations.each do |assoziation| %>
    <%
      lecture =  Lecture.find(assoziation.lecture_id)
      sections = lecture.materials
    %>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="user-show-title">
         <%= lecture.name %> -
         <%= assoziation.code %> -
         <%= assoziation.instructor %> 
        </div>
        <div class="user-show-body">
          <%= lecture.description %>
        </div>
        <div class="user-show-links">
          <% sections.each do |section| %>
            <span class="badge">
              <%= link_to section.name,
                  user_section_materials_path(params[:category_id], 
                                              params[:courseofstudy_id],
                                              lecture, section) %> 
                  &nbsp;
            </span>
          <% end %>
        </div>
         <div class="user-show-actions">
           <%= link_to 'Show all Sections',
               user_lecture_sections_path(params[:category_id], lecture),
               class: "btn btn-primary" %>
           
           <%= link_to 'Details', 
               user_category_lecture_path(params[:faculty_id],
                                          params[:category_id],
                                          params[:courseofstudy_id], lecture),
               class: "btn btn-info" %>
      </div>
      </div>
    </div> 
  <% end %>
  
   <center><%= paginate @assoziations %></center>
</div>    
<center>
  <%= link_to 'Back to Lectures', user_faculty_courseofstudies_path(params[:faculty_id]), 
              class: "btn btn-default" %>
</center>
          