<!-- Fakult채ten   IngWi   Studieng채nge   Praktische Informatik - Semester 1 / -->

<% 
  assoziation = @lecture.assoziations.first
  sections = @lecture.materials
%>

<div class="row">
  
   <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakult채ten</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>"><%= @faculty.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_faculty_courseofstudies_path(params[:faculty_id]) %>">
          Studieng채nge</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= user_category_lectures_path(@faculty.id, 
                                               @category.id,
                                               @courseofstudy.id) %>">
        <%= @courseofstudy.name + " - " + @category.name %>
      </a>
    </li>
    <li class="breadcrumb-item active">
       <%= @lecture.name %>
    </li>
  </ol>
  
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="user-show-title">
        <%= @lecture.name %> -
         <%= assoziation.code %> -
         <%= assoziation.instructor %> 
         (<%= @lecture.symbol %>)
      </div>
      <div class="user-show-body">
        <%= @lecture.description %>
      </div>
    </div>
  </div> 
</div>

<%= link_to 'Back', user_category_lectures_url, class: "btn btn-default" %>
