<!-- Fakult채ten   IngWi   Studieng채nge   Praktische Informatik - Semester 1 / -->

<br />

<div class="row">
  
   <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakult채ten</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>"><%= @faculty.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_faculty_courseofstudies_path(params[:faculty_id]) %>">
          Studieng채nge</a>
    </li>
    <li class="breadcrumb-item active">
      <a href="<%= user_category_lectures_path(@faculty.id, 
                                               @category.id,
                                               @courseofstudy.id) %>">
        <%= @courseofstudy.name + " - " + @category.name %>
      </a>
    </li>
    <li class="breadcrumb-item active">
       <%= @lecture.name %>
    </li>
  </ol>
  
  <br /><br />
  
  <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class='panel-title'>
            <span class="badge"><%= @courseofstudy.symbol + @studytype.symbol %></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= @lecture.name %>
              &nbsp;
            <span class="badge"><%= @assoziation.code %></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= @assoziation.instructor %>
        </h4>
      </div>
      <div class="panel-body user-panel-body">
        <p><%= @lecture.description %></p>
      </div>
      <div class="panel-footer user-panel-badges">
        <% @sections.each do |section| %>
          <span class="badge">
            <%= section.name %>  
          </span> 
        <% end %>
      </div>
      <div class='panel-footer user-panel-actions'>
        <a class='btn btn-default' 
           href="<%= user_category_lectures_url %>">
          <span class="glyphicon glyphicon-share"></span> 
           Vorlesungen
        </a>
      </div>
    </div>    
  </div>
  
</div>