<div class="row">
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakultäten</a>
    </li>
    <li class="breadcrumb-item active">
      <%= @faculty.symbol %></a>
     </li>
  </ol>
  
  <center><%= paginate @faculty_courseofstudies %></center>
  
  <% @faculty_courseofstudies.each do |faculty_courseofstudy| %>
    <% 
      studytype = Studytype.find(faculty_courseofstudy.studytype_id)
      categories = faculty_courseofstudy.categories.uniq
    %>
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class='panel-title'>
            <span class="badge"><%= @faculty.symbol %></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= faculty_courseofstudy.name %>
            <%= faculty_courseofstudy.symbol + 
                  studytype.symbol %>
          </h4>
        </div>
        <div class="panel-body user-panel-body">
          <p><%= truncate(faculty_courseofstudy.description, 
                          length: @user_description_length) %></p>
        </div>
        <div class="panel-footer user-panel-badges">
           <% categories.each do |category| %>
            <span class="badge">
              <%= link_to category.name,
                  user_category_lectures_path(params[:faculty_id], 
                                              category,
                                              faculty_courseofstudy) %>
                  &nbsp;
            </span>
          <% end %>
        </div>
        <div class='panel-footer user-panel-actions'>
          <a class='btn btn-default' 
             href="<%= user_courseofstudy_categories_path(params[:faculty_id],
                                                          faculty_courseofstudy) %>">
            <span class=" glyphicon glyphicon-education"></span>
             Kategorien
            <span class=" glyphicon glyphicon-menu-right"></span>
            <span class="badge">
             <%= categories.count %>
            </span></a>
          <a class="btn btn-default"
              href="<%= user_faculty_courseofstudy_path(params[:faculty_id],
                                                         faculty_courseofstudy) %>">
              <span class="glyphicon glyphicon-eye-open"></span>
              Details
          </a>
        </div>
      </div>
    </div>
  <% end %>
    
  <center><%= paginate @faculty_courseofstudies %></center>
  
</div>
<center>
  <%= link_to 'Back', user_faculties_path, 
               class: "btn btn-default" %>
</center>
