<div class="row">
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakultäten</a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_faculty_courseofstudies_path(params[:faculty_id]) %>">
          <%= @faculty.symbol %></a>
     </li>
    <li class="breadcrumb-item active">
       <%= @faculty_courseofstudy.symbol + @studytype.symbol %>
    </li>
  </ol>
  
  <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class='panel-title'>
            <span class="badge"><%= @faculty_courseofstudy.symbol +
                                    @studytype.symbol %></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= @faculty_courseofstudy.name %>
          </h4>
        </div>
        <div class="panel-body user-panel-body">
          <p><%= @faculty_courseofstudy.description %></p>
        </div>
        <div class="panel-footer user-panel-badges">
          <% @categories.each do |category| %>
            <span class="badge">
              <%= category.name %>  
            </span> 
          <% end %>
        </div>
        <div class='panel-footer user-panel-actions'>
          <a class='btn btn-default' 
             href="<%= user_faculty_courseofstudies_path %>">
            <span class="glyphicon glyphicon-share"></span> 
             Studiengänge
          </a>
          <a class='btn btn-default' 
             href="<%=user_faculties_url(params[:faculty_id]) %>">
            <span class="glyphicon glyphicon-share"></span> 
             Fakultäten
          </a>
        </div>
    </div>    
  </div>
 
</div>        
  
