<% target_url = @material.id.present? ?
   moderator_faculty_material_url(params[:faculty_id]) : 
   moderator_faculty_materials_path(params[:faculty_id])
%>

<%= form_for @material, url: target_url, :html => { multipart: true, :class => "form-horizontal material" } do |f| %>

  <%= render 'shared/form_errors', obj: @material %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :discription, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :discription, rows: 7, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :data, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :section_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= select_tag "material[section_id]", 
          options_from_collection_for_select(Section.all, "id", "name",
          :selected => @material.section_id),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lecture_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= select_tag "material[lecture_id]", 
          options_from_collection_for_select(Lecture.all, "id", "name",
          :selected => @material.lecture_id),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>
  
   <div class="form-group">
    <%= f.label :faculty_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= select_tag "material[faculty_id]", 
          options_from_collection_for_select(Faculty.all, "id", "name",
          :selected => params[:faculty_id]),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                moderator_faculty_materials_path(params[:faculty_id]),
                :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
