<script>
  $(document).ready(function(){
    $('#moderator-materials-table').DataTable({
      responsive: true
    });
  });
</script>

<%- model_class = Material -%>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4 
              col-xs-6 col-xs-offset-3
              well well-sm
              moderator-index-header">
   <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1
              col-xs-10 col-xs-offset-1
              well well-sm">
    <ul class="nav nav-pills" role="tablist">
      <% @faculties.each do |faculty| %>
        <% active = (faculty.id == params[:faculty_id].to_i) ? "active" : "" %>
        <li class="<%= active %>" role="presentation">
          <a href="<%= moderator_faculty_materials_path(faculty.id) %>">
            <%= faculty.name %>
            <span class="badge">
              <%= faculty.materials.count %>
            </span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<table id="moderator-materials-table" class="table display responsive no-wrap">
  <thead>
    <tr> 
      <th><%= model_class.human_attribute_name(:name) %></th>   
      <th class="hidden-xs"><%= model_class.human_attribute_name(:data_file_name) %></th>
      <th><%= model_class.human_attribute_name(:section_id) %></th>
      <th><%= model_class.human_attribute_name(:lecture_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.name %></td>
        <td class="hidden-xs"><%= truncate(material.data_file_name, length: 35) %></td>
        <% current_section = Section.find(material.section_id) 
           current_lecture = Lecture.find(material.lecture_id) %>      
        <td><%= current_section.name if current_section.present? %></td>
        <td><%= current_lecture.name if current_lecture.present? %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      moderator_faculty_material_path(params[:faculty_id], material), 
                      :class => 'btn btn-default btn-xs action-buttons-height' %>
                      
          <% if logged_in?(:admin, :moderator) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_moderator_faculty_material_path(params[:faculty_id], material),
                        :class => 'btn btn-default btn-xs action-buttons-height' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        moderator_faculty_material_path(params[:faculty_id], material),
                        :method => :delete,
                        :data => { :confirm => t('.confirm',
                        :default => t("helpers.links.confirm", 
                        :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger action-buttons-height' %>
          <% end %>
            <%= link_to 'Download',
                create_path(material.data.url(:original, false)),
                download: '',
                :class => 'btn btn-xs btn-primary action-buttons-height' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
<% if logged_in?(:admin, :moderator) %> 
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_moderator_faculty_material_path(params[:faculty_id]),
              :class => 'btn btn-primary' %>
<% end %>