<script>
  $(document).ready(function(){
    $('#moderator-categories-table').DataTable({
      responsive: true
    });
  });
</script>

<%- model_class = Category -%>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4 
              col-xs-6 col-xs-offset-3
              well well-sm
              moderator-index-header">
   <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  </div>
</div>
<table id="moderator-categories-table" class="table display responsive no-wrap">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:symbol) %></th>
      <th class="hidden-xs"><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.symbol %></td>
        <td class="hidden-xs">
          <%= truncate(category.description, length: @moderator_description_length) %>
        </td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      moderator_category_path(category),
                      :class => 'btn btn-default btn-xs action-buttons-height' %>
                      
          <% if logged_in?(:admin, :moderator) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_moderator_category_path(category),
                        :class => 'btn btn-default btn-xs action-buttons-height' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        moderator_category_path(category),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', 
                        :default => t("helpers.links.confirm",
                        :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger action-buttons-height' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if logged_in?(:admin, :moderator) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_moderator_category_path,
              :class => 'btn btn-primary' %>
<% end %>