<%- model_class = Notification -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:message) %></th>
      <th><%= model_class.human_attribute_name(:image_file_name) %></th>
      <th><%= model_class.human_attribute_name(:notificationtype_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.title %></td>
        <td><%= notification.message %></td>
        <td><%= image_tag notification.image.url(:thumb) if notification.image %></td>
        <td><%= Notificationtype.find(notification.notificationtype_id).name %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      notificationtype_notification_path(params[:notificationtype_id],
                      notification), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_notificationtype_notification_path(params[:notificationtype_id],
                      notification), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      notificationtype_notification_url(params[:notificationtype_id],
                      notification),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_notificationtype_notification_path(params[:notificationtype_id]),
            :class => 'btn btn-primary' %>
            

<%= link_to t('.back', :default => t("helpers.links.back")),
              notificationtypes_path, :class => 'btn btn-default'  %>
