<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this gallery from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<%= @user.admin %>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%#=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :admin, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select_tag "admin", "<option>true</option>".html_safe, :class => 'form-control' %>
    </div>
    <%=f.error_span(:admin) %>
  </div>
  <div class="form-group">
    <%= f.label :moderator, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select_tag(:moderator, options_for_select([false, true]), :class => 'form-control') %>
    </div>
    <%=f.error_span(:moderator) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
