<script>
  $(document).ready(function(){
    $('#moderator-faculties-table').DataTable({
      responsive: true
    });
  });
</script>

<%- model_class = Faculty -%>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4 
              col-xs-6 col-xs-offset-3
              well well-sm
              moderator-index-header">
   <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  </div>
</div>

<% if @faculties.empty? %>
  <h1 id="no-elements">No Faculties Created</h1>
<% else %>
  <table id="moderator-faculties-table" class="table table-striped display responsive no-wrap">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:symbol) %></th>
        <th class="hidden-xs"><%= model_class.human_attribute_name(:description) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @faculties.each do |faculty| %>
          <tr>
            <td><%= faculty.name %></td>
            <td><%= faculty.symbol %></td>
            <td class="hidden-xs"><%= truncate(faculty.description, length: @moderator_description_length) %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                moderator_faculty_path(faculty), :class => 'btn btn-default btn-xs  action-buttons-height' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_moderator_faculty_path(faculty), :class => 'btn btn-default btn-xs  action-buttons-height' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                 moderator_faculty_path(faculty),
                  :method => :delete,
                  :data => { :confirm => t('.confirm',
                  :default => t("helpers.links.confirm",
                  :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger action-buttons-height' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_moderator_faculty_path,
            :class => 'btn btn-primary' %>

