<h1>Welcome and go home</h1>
<h2>Hi, <%= current_user.username %></h2>

<%#= current_user.inspect %>
<div class="well">
<span style="font-size: 140pt"><%= fa_icon "camera-retro" %></span>
<span style="font-size: 140pt"><%= fa_icon "camera-retro" %></span>
<span style="font-size: 140pt"><%= fa_icon "camera-retro" %></span>
<span style="font-size: 140pt"><%= fa_icon "github" %></span>
<span style="font-size: 140pt"><%= fa_icon "facebook" %></span>
<span style="font-size: 140pt"><%= fa_icon "bitbucket" %></span>
<span style="font-size: 140pt"><%= fa_icon "camera-retro" %></span>
<span style="font-size: 140pt"><%= fa_icon "camera-retro" %></span>
</div>
<%#= params.inspect %>
<%#= session.inspect %>
