<%
  @notification.id.present? ?
      path_url = moderator_notificationtype_notification_path(params[:notificationtype_id], @notification)
    : path_url = moderator_notificationtype_notifications_path(params[:notificationtype_id])
%>

<%= form_for @notification, url: path_url,
    :html => { multipart: true, :class => "form-horizontal notification" } do |f| %>

  <%= render 'shared/form_errors', obj: @notification %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :message, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :message, rows: 4, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image_file_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :image, :class => '' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :notificationtype_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
        <%= select_tag "notification[notificationtype_id]", 
          options_from_collection_for_select(Notificationtype.all, "id", "name",
          :selected => @notificationtype.id),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                 moderator_notificationtype_notifications_path(params[:notificationtype_id]),
                 :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
