<% target_url = @assoziation.id.present? ? moderator_assoziation_url : moderator_assoziations_path %>

<%= form_for @assoziation, url: target_url, :html => { :class => "form-horizontal assoziation" } do |f| %>

  <% if @assoziation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@assoziation.errors.count, "error") %> prohibited this assoziation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @assoziation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :code, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :instructor, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :instructor, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= select_tag "assoziation[category_id]", 
          options_from_collection_for_select(Category.all, "id", "name",
          :selected => @assoziation.category_id),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :courseofstudy_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select_tag "assoziation[courseofstudy_id]", 
          options_from_collection_for_select(Courseofstudy.all, "id", "name",
          :selected => @assoziation.courseofstudy_id),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>
   <!--
   TODO !!!!!! -> AJAX automatische Anzeige
   -->
  <div class="form-group">
    <%= f.label :lecture_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select_tag "assoziation[lecture_id]", 
        options_from_collection_for_select(Lecture.all, "id", "name", 
        :selected => @assoziation.lecture_id),
        :prompt => "Please select",
        :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                moderator_assoziations_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
