<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<center><%= paginate @images %></center>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:picture) %></th>
      <th><%= model_class.human_attribute_name(:gallery_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.name %></td>
        <td><%= create_path(image_tag image.picture.url(:thumb)) if image.picture %></td>
        <td><%= Gallery.find(image.gallery_id).name %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      moderator_gallery_image_path(params[:gallery_id], image), :class => 'btn btn-default btn-xs' %>
                      
          <% if logged_in?(:admin, :moderator) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_moderator_gallery_image_path(params[:gallery_id], image), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        moderator_gallery_image_path(params[:gallery_id], image),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', 
                        :default => t("helpers.links.confirm", 
                        :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          <% end %>              
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><%= paginate @images %></center><br />
<% if logged_in?(:admin, :moderator) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_moderator_gallery_image_path,
              :class => 'btn btn-primary' %>
  <%= link_to 'Back', moderator_galleries_path, class: "btn btn-default" %>
<% end %>
