<% target_url = @studytype.id.present? ? moderator_studytype_url : moderator_studytypes_path  %>

<%= form_for @studytype, url: target_url, :html => { :class => "form-horizontal studytype" } do |f| %>

  <%= render 'shared/form_errors', obj: @studytype %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :symbol, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :symbol, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, rows: 16, :class => 'form-control', placeholder: 'Description of studytype' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                moderator_studytypes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
