<% target_url = @lecture.id.present? ? 
                moderator_faculty_lecture_url(params[:faculty_id]) :
                moderator_faculty_lectures_path(params[:faculty_id]) %>

<%= form_for @lecture, url: target_url, :html => { :class => "form-horizontal lecture" } do |f| %>

  <%= render 'shared/form_errors', obj: @lecture %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :symbol, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :symbol, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, rows: 10, :class => 'form-control',
                      placeholder: 'Description of lecture' %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :faculty_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select_tag "lecture[faculty_id]", 
          options_from_collection_for_select(Faculty.all, "id", "name",
          :selected => params[:faculty_id]),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>
  <%#= f.hidden_field :faculty_id, :value => params[:faculty_id] %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                moderator_faculty_lectures_path(params[:faculty_id]), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
