<script>
  $(document).ready(function(){
    $('#moderator-lectures-table').DataTable({
      responsive: true
    });
  });
</script>

<%- model_class = Lecture -%>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4 
              col-xs-4 col-xs-offset-4
              well well-sm
              moderator-index-header">
   <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1
              col-xs-10 col-xs-offset-1
              well well-sm">
    <ul class="nav nav-pills" role="tablist">
      <% @faculties.each do |faculty| %>
        <% active = (faculty.id == params[:faculty_id].to_i) ? "active" : "" %>
        <li class="<%= active %>" role="presentation">
          <a href="<%= moderator_faculty_lectures_path(faculty.id) %>">
            <%= faculty.name %>
            <span class="badge">
              <%= faculty.lectures.count %>
            </span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<table id="moderator-lectures-table" class="table display responsive no-wrap">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:symbol) %></th>
      <th class="hidden-xs"><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= lecture.name %></td>
        <td><%= lecture.symbol %></td>
        <td class="hidden-xs"><%= truncate(lecture.description, length: @moderator_description_length) %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      moderator_lecture_path(lecture),
                      :class => 'btn btn-default btn-xs action-buttons-height' %>
                      
          <% if logged_in?(:admin, :moderator) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_moderator_lecture_path(lecture),
                        :class => 'btn btn-default btn-xs action-buttons-height' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        moderator_lecture_path(lecture),
                        :method => :delete,
                        :data => { :confirm => t('.confirm',
                        :default => t("helpers.links.confirm",
                        :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger action-buttons-height' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if logged_in?(:admin, :moderator) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              moderator_new_lecture_path(1),
              :class => 'btn btn-primary' %>
<% end %>
