<!-- index =>  Faculties / IngWi / PI / Categories  -->

<div class="row">
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakultäten</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>"><%= @faculty.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_faculty_courseofstudies_path(params[:faculty_id]) %>">
          <%= @courseofstudy.symbol + @studytype.symbol %></a>
    </li>
    <li class="breadcrumb-item active">
      Kategorien
    </li>
  </ol>
  
  <center><%= paginate @categories %></center>
  
  
  <% @categories.each do |category| %>
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class='panel-title'>
            <span class="badge"><%= @courseofstudy.symbol + @studytype.symbol %></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= @courseofstudy.name %>
              &nbsp;
            <span class="badge"><%= category.symbol %></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= category.name %>
          </h4>
        </div>
         <div class="panel-body user-panel-body">
          <p><%= category.description %></p>
        </div>
        <% 
          assoziations = @assoziations.where("category_id = ?", category.id)
        %>
        <div class="panel-footer user-panel-badges">
          <% assoziations.each do |assoziation| %>
            <span class="badge">
             <%= link_to Lecture.find(assoziation.lecture_id).name, 
                  user_lecture_sections_path(category, assoziation.lecture_id) %>
                  &nbsp;
            </span>
          <% end %>
        </div>
        <div class='panel-footer user-panel-actions'>
          <a class="btn btn-default"
             href="<%=  user_courseofstudy_category_path(params[:faculty_id],
                                                         params[:courseofstudy_id],
                                                         category.id) %>">
            <span class="glyphicon glyphicon-eye-open"></span>
            Details
          </a>
        </div>
      </div>
    </div> 
  <% end %>
  
  <center><%= paginate @categories %></center>
  
</div>  
<center>
  <%= link_to 'Back', user_faculty_courseofstudies_path(params[:faculty_id]), 
              class: "btn btn-default" %>
</center>
              
              