<% target_url = @connection.id.present? ? moderator_connection_url : moderator_connections_url %>

<%= form_for @connection, url: target_url, :html => { :class => "form-horizontal connection" } do |f| %>

  <%= render 'shared/form_errors', obj: @connection %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lecture_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= select_tag "connection[lecture_id]", 
          options_from_collection_for_select(Lecture.all, "id", "name",
          :selected => @connection.lecture_id),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :section_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
     <%= select_tag "connection[section_id]", 
          options_from_collection_for_select(Section.all, "id", "name",
          :selected => @connection.section_id),
          :prompt => "Please select",
          :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                moderator_connections_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
