<div class="row">
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Fakultäten</li>
  </ol>

  <center><%= paginate @faculties %></center>

  <% @faculties.each do |faculty| %>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="user-show-title">
          <%= faculty.name %> <br />
          Studiengänge (<%= faculty.courseofstudies.count %>) 
        </div>
        <div class="user-show-body">
          <%= faculty.description %>
        </div>
        <div class="user-show-links"><center>
          <%= link_to 'Show all Courseofstudies' ,user_faculty_courseofstudies_path(faculty), 
              class: "btn btn-primary" %>
          <%= link_to 'Details' ,user_faculty_path(faculty), 
              class: "btn btn-info" %></center>
        </div>
      </div>
    </div> 
  <% end %>
  
  <center><%= paginate @faculties %></center>
  
</div>

   <div class="row">
            <div class="col-md-4">
        		<div class="card">
                    <div class="card-content">
                    	<div class="card-header-blue">
                           <h1 class="card-heading">Card Header Blue</h1>
                       	</div>
                       	<div class="card-body">
                     	  <p class="card-p">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                                or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                isn't anything embarrassing hidden in the middle of text.
                                
                            </p>
                     	</div>
                     	
                     	<nav class="nav-tabs">
                     		<ul class="nav nav-pills pull-left">
                                <li class="card-action"><a href="#">Link</a></li>
                                <li class="card-action"><a href="#">Link</a></li>
                                <li class="card-action"><a href="#">Link</a></li>
                                <li class="card-action"><a href="#">Link</a></li>
                            </ul>
                     		
                     	</nav>
                     		
                    </div>
                </div>
           	</div>


