<div class="row">
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Fakultäten</li>
  </ol>

  <center><%= paginate @faculties %></center>

  <% @faculties.each do |faculty| %>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="user-show-title">
          <%= faculty.name %> <br />
          Studiengänge (<%= faculty.courseofstudies.count %>) 
        </div>
        <div class="user-show-body">
          <%= faculty.description %>
        </div>
        <div class="user-show-links"><center>
          <%= link_to 'Show all Courseofstudies' ,user_faculty_courseofstudies_path(faculty), 
              class: "btn btn-primary" %>
          <%= link_to 'Details' ,user_faculty_path(faculty), 
              class: "btn btn-info" %></center>
        </div>
      </div>
    </div> 
  <% end %>
  
  <center><%= paginate @faculties %></center>
  
</div>


