<div class="row">
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Fakultäten</li>
  </ol>

  <center><%= paginate @faculties %></center>

  <% @faculties.each do |faculty| %>
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class='panel-title'>
            <span class="badge"><%= faculty.symbol %></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= faculty.name %>
          </h4>
        </div>
        <div class="panel-body" style="background-color: #f9f9f9">
          <p><%= faculty.description %></p>
        </div>
        <div class='panel-footer user-panel-actions'>
          <a class='btn btn-default' 
             href="<%= user_faculty_courseofstudies_path(faculty) %>">
            <span class=" glyphicon glyphicon-education"></span>
             Studiengänge
            <span class=" glyphicon glyphicon-menu-right"></span>
            <span class="badge">
             <%= faculty.courseofstudies.count %>
            </span></a>
          <a class="btn btn-default"
             href="<%= user_faculty_path(faculty) %>">
            <span class="glyphicon glyphicon-eye-open"></span>
             Details
          </a>
        </div>
      </div>
    </div>
  <% end %>
  
  <center><%= paginate @faculties %></center>
  
</div>
 
