

<div class='row'>
  <% @notifications.each do |notification| %>
  <%
    type = notification.notificationtype_id 
    if type == 1
      style = "danger"
    else
      style = "info"
    end
  %>
      <div class='col-lg-offset-0 col-lg-4 col-md-offeset-0 col-md-6 col-xs-10 col-xs-offset-1'>
        <div class="panel panel-<%= style%>">
          <img src="<%= notification.image.url(:card) %>" class="img-responsive">
          <div class="panel-body">
            <p class='lead'><%= truncate(notification.title, length:50) %></p>
            <p><%= truncate(notification.message, length: 200) %></p>
            <p>
              <img src="//placehold.it/28X28/ededed">          
              <img src="//placehold.it/28X28/a0c3fd">          
              <img src="//placehold.it/28X28/25282d">       
            </p>
            <small>
              Created at:  <%= time_ago_in_words(notification.created_at) %> ago,
              <br />
              last updated: <%= time_ago_in_words(notification.updated_at) %> ago
            </small>
          </div>
        </div>
    </div>
  
  <% end %>
</div>

  