<%- model_class = Courseofstudy -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th class="hidden-xs"><%= model_class.human_attribute_name(:symbol) %></th>
      <th class="hidden-xs"><%= model_class.human_attribute_name(:faculty_id) %></th>
      <th class="hidden-lg hidden-md hidden-sm">Faculty</th>
      <th><%= model_class.human_attribute_name(:studytype_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @courseofstudies.each do |courseofstudy| %>
      <tr>
        <td><%= courseofstudy.name %></td>
        <td class="hidden-xs"><%= courseofstudy.symbol %></td>
        <% current_faculty = Faculty.find(courseofstudy.faculty_id) 
           current_studytype = Studytype.find(courseofstudy.studytype_id) %>
        <td class="hidden-xs"><%= current_faculty.name if current_faculty.present? %></td>
        <td class="hidden-lg hidden-md hidden-sm"><%= current_faculty.symbol if current_faculty.present? %></td>
        <td><%= current_studytype.name if current_studytype.present? %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      moderator_courseofstudy_path(courseofstudy), 
                      :class => 'btn btn-default btn-xs action-buttons-height' %>
                      
          <% if logged_in?(:admin, :moderator) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_moderator_courseofstudy_path(courseofstudy), 
                        :class => 'btn btn-default btn-xs action-buttons-height' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        moderator_courseofstudy_path(courseofstudy),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', 
                        :default => t("helpers.links.confirm", 
                        :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger action-buttons-height' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if logged_in?(:admin, :moderator) %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_moderator_courseofstudy_path,
              :class => 'btn btn-primary' %>
<% end %>
