<!-- index =>  Faculties / IngWi / PI / Categories / Mathe  -->

<div class="row">
  
   <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakultäten</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>"><%= @faculty.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_faculty_courseofstudies_path(@faculty_id) %>">
          <%= @courseofstudy.symbol + @studytype.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_courseofstudy_categories_path(@faculty_id, @courseofstudy.id) %>">
          Kategorien</a>
    </li>
    <li class="breadcrumb-item active">
      <%= @category.name + " - " + @lecture.name %>
    </li>
  </ol>
  
  <center><%= paginate @sections %></center>
  
  
   <% @sections.each do |section| %>
    <% materials = Material.where("lecture_id = ? AND section_id = ?",
                                       params[:lecture_id], section)
    %>
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class='panel-title'>
            <span class="badge"><%= @category.symbol %></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= @lecture.name %>
              &nbsp;
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= section.name %>
          </h4>
        </div>
        <div class="panel-body user-panel-body">
          <p><%= truncate(section.description, 
                          length: @user_description_length) %></p>
        </div>
        <div class="panel-footer user-panel-badges">
          <% materials.each do |material| %>
            <span class="badge">
              <%= link_to material.name,
                  user_section_material_path(params[:category_id], 
                                             params[:courseofstudy_id],
                                             params[:lecture_id],
                                             section,
                                             material) %> 
                  &nbsp;
            </span>
          <% end %>
        </div>
        <div class='panel-footer user-panel-actions'>
          <!--<span class="badge"><%= materials.count %>&nbsp;
           <span class="glyphicon glyphicon-eye-open"></span></span>-->
          <a class="btn btn-default"
            href="<%= user_lecture_section_path(params[:category_id],
                                                params[:courseofstudy_id],
                                                params[:lecture_id], section) %>">
            <span class="glyphicon glyphicon-eye-open"></span>
            Details
          </a>
        </div>
       </div>
    </div> 
  <% end %>
  
  <center><%= paginate @sections %></center>
  
</div>

<br />
<center>
  <a class='btn btn-default' 
     href="<%= user_category_lectures_path(@faculty_id,
                                           params[:category_id],
                                           params[:courseofstudy_id]) %>">
    <span class="glyphicon glyphicon-share"></span> 
     Vorlesungen
  </a>
  <a class='btn btn-default' 
     href="<%= user_courseofstudy_categories_path(@faculty_id,
                                                  params[:courseofstudy_id]) %>">
    <span class="glyphicon glyphicon-share"></span> 
     Kategorien
  </a>
</center>