<!-- index =>
  Faculties / IngWi / PI / Categories / Semester 1 - Mathe 1 / Klausuren -->

<div class="row">
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakultäten</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>"><%= @faculty.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_faculty_courseofstudies_path(@faculty_id) %>">
        <%= @courseofstudy.symbol + @studytype.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_courseofstudy_categories_path(@faculty_id, @courseofstudy.id) %>">
          Kategorien</a>
    </li>
     <li class="breadcrumb-item">
     <a href="<%= user_lecture_sections_path(@category.id,
                                             @courseofstudy.id,
                                             @lecture.id) %>">
        <%= @category.name + " - " + @lecture.name %></a>
    </li>
    <li class="breadcrumb-item active">
      <%= @section.name %>
    </li>
  </ol>
  
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="user-show-title">
        <h2><%= @section.name %>  </h2>
      </div>
      <div class="user-show-body">
        <%= @section.description %>
      </div>
        <% materials = Material.where("lecture_id = ? AND section_id = ?",
                                       params[:lecture_id], @section)
        %>
        <div class="user-show-links">
          <% materials.each do |material| %>
            <span class="badge">
              <%= link_to material.name,
                  user_section_material_path(params[:category_id], 
                                             params[:lecture_id],
                                             params[:id],
                                             material) %> 
                  &nbsp;
            </span>
          <% end %>
        </div>
    </div>
  </div> 
</div>

<%= link_to 'Back to Lecture' ,   
    user_lecture_sections_url(params[:category_id],
                                params[:lecture_id]),
                            
    class: "btn btn-default" %>


