<!-- show =>
  Faculties / IngWi / PI / Categories / Semester 1 - Mathe 1 / Klausuren -->

<div class="row">
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakultäten</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>"><%= @faculty.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_faculty_courseofstudies_path(@faculty_id) %>">
        <%= @courseofstudy.symbol + @studytype.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_courseofstudy_categories_path(@faculty_id, @courseofstudy.id) %>">
          Kategorien</a>
    </li>
     <li class="breadcrumb-item">
     <a href="<%= user_lecture_sections_path(@category.id,
                                             @courseofstudy.id,
                                             @lecture.id) %>">
        <%= @category.name + " - " + @lecture.name %></a>
    </li>
    <li class="breadcrumb-item active">
      <%= @section.name %>
    </li>
  </ol>
  
  
  <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class='panel-title'>
            <span class="badge"><%= @category.name %></span>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= @lecture.name %>
              &nbsp;
            <span class="glyphicon glyphicon-arrow-right"></span>
            <%= @section.name %>
          </h4>
        </div>
        <div class="panel-body user-panel-body">
          <p><%= @section.description %></p>
        </div>
        <div class="panel-footer user-panel-badges">
          <% @materials.each do |material| %>
            <span class="badge">
              <%= link_to material.name,
                  user_section_material_path(params[:category_id], 
                                             params[:courseofstudy_id],
                                             params[:lecture_id],
                                             @section,
                                             material) %> 
                  &nbsp;
            </span>
          <% end %>
        </div>
        <div class='panel-footer user-panel-actions'>
        <a class='btn btn-default' 
           href="<%= user_lecture_sections_url(params[:category_id],
                                               params[:lecture_id]) %>">
          <span class="glyphicon glyphicon-share"></span> 
           Vorlesungen
        </a>
      </div>
    </div>
  </div>
  
</div>