<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FS-Informatik" %></title>
    <%= csrf_meta_tags %>
    
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <!-- All navigation sections -->
    <%= render 'layouts/navigation' %>
  
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
          <%= bootstrap_flash %>
          <%= yield %>
          
          <% if session[:source] %>
            Thanks for visiting me from <%= session[:source] %>
          <% end %>
        </div>
      </div><!--/row-->
      
      <%= params.inspect %>
      
     
    
    </div> <!-- /container -->
    
     <%= render 'layouts/footer' %>
  </body>
</html>
