<div class="row">
  <% @materials.each do |material| %>
    <% 
     # studytype = Studytype.find(courseofstudy.studytype_id)
     # categories = courseofstudy.categories.uniq
    %>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="user-show-title">
          <h2><%= material.name %></h2>
        </div>
        <div class="user-show-body">
          <%= material.discription %></br>
          <%= material.data_content_type %>
          
        </div>
        <div class="user-show-actions">
        
        </div>
      </div>
    </div> 
  <% end %>
</div>
 <%= link_to 'Back', user_category_lectures_path(params[:lecture_id]), 
              class: "btn btn-default" %></h2>
<%= params.inspect %>
