<div class="row">
  <% @materials.each do |material| %>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="user-show-title">
          <h2><%= material.name %></h2>
        </div>
        <div class="user-show-body">
          <%= material.discription %></br>
          <%= material.data_content_type %>
          
        </div>
        <div class="user-show-actions">
        <%= link_to 'Details',
            user_section_material_path(params[:category_id],
                                        params[:lecture_id],
                                       params[:section_id],
                                       material),
            class: "btn btn-info" %>
        </div>
      </div>
    </div> 
  <% end %>
</div>
 <%= link_to 'Back', 
     user_category_lectures_path(params[:category_id],
                                params[:lecture_id],
                                params[:section_id]),
     class: "btn btn-default" %>
     
<%= params.inspect %>
