<!-- index =>  Faculties / IngWi / PIB / Kategorien / S 1 - Mathe 1 / Klausuren / SS2010 -->

<br />

<div class="row">
  
   <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>">Fakultäten</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_faculties_path %>"><%= @faculty.symbol %></a>
    </li>
    <li class="breadcrumb-item">
     <a href="<%= user_faculty_courseofstudies_path(@faculty_id) %>">
          Studiengänge</a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_category_lectures_path(@faculty_id,
                                               @category.id,
                                               @courseofstudy.id) %>">
        <%= @courseofstudy.name + " - " + @category.name %></a>
    </li>
    <li class="breadcrumb-item">
      <a href="<%= user_section_materials_path(@category.id,
                                               @courseofstudy.id,
                                               params[:lecture_id],
                                               params[:section_id]) %>">
        Klausuren</a>
    </li>
    <li class="breadcrumb-item active">
      <%= @material.name %>
    </li>
  </ol>
  
  <br /><br />
  
  <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class='panel-title'>
          <span class="badge"><%= @lecture.name %></span>
          <span class="glyphicon glyphicon-arrow-right"></span>
          <span class="badge"><%= @section.name %></span>
          <span class="glyphicon glyphicon-arrow-right"></span>
          <%= @material.name %>
        </h4>
      </div>
      <div class="panel-body user-panel-body">
        <p><%= @material.discription %></p>
      </div>
      <div class="panel-footer user-panel-badges">
        <span class="badge">
          Type
        </span>
         &nbsp;<%= @material.data_content_type %> <!-- TODO -->
         &nbsp; &nbsp;
        <span class="badge">
          Size
        </span>
        &nbsp;<%= number_to_human_size(@material.data_file_size) %>
      </div>
      <div class='panel-footer user-panel-actions'>
        <a class='btn btn-default' 
           href="<%= user_section_materials_path(@category.id,
                                                 @courseofstudy.id,
                                                 params[:lecture_id],
                                                 params[:section_id]) %>">
          <span class="glyphicon glyphicon-share"></span> 
           Sections
        </a>
        <a class='btn btn-default' 
           href="<%= user_category_lectures_path(@faculty_id,
                                                 @category.id,
                                                 @courseofstudy.id) %>">
          <span class="glyphicon glyphicon-share"></span> 
           Studiengänge
        </a>
        <a class="btn btn-default"
           href="<%= create_path(@material.data.url(:original, false)) %>"
           download="">
          <span class="glyphicon glyphicon-download-alt"></span>
            Download
        </a>
      </div>
    </div>
  </div>

</div>