<% if logged_in?(:admin, :moderator) %>
  <ul class="nav navbar-nav horizont-line">
    <li><%= link_to "Gallery", moderator_galleries_path  %></li>
    <li><%= link_to "News", moderator_notificationtypes_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" 
                  data-toggle="dropdown" 
                  role="button" 
                  aria-haspopup="true" aria-expanded="false">
        Moderator
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
       <li><%= link_to "Faculties", moderator_faculties_path %></li>
       <li><%= link_to "StudyTypes", moderator_studytypes_path %></li>
       <li role="separator" class="divider"></li>
       <li><%= link_to "CourseOfStudies", moderator_courseofstudies_path %></li>
       <li role="separator" class="divider"></li>
       <li><%= link_to "Categories" ,moderator_categories_path %></li>
       <li role="separator" class="divider"></li>
       <li><%= link_to "Assoziations", moderator_assoziations_path %></li>
       <li role="separator" class="divider"></li>
       <li><%= link_to "Lectures", moderator_lectures_path %></li>
       <li><%= link_to "Sections", moderator_sections_path %></li>
       <li role="separator" class="divider"></li>
       <li><%= link_to "Connections", moderator_connections_path %></li>
       <li role="separator" class="divider"></li>
       <li><%= link_to "Materials", moderator_materials_path %></li>
      </ul>
     </li>
  </ul>
<% end %>