<% if logged_in?(:admin, :moderator) %>
  <%
    first_faculty = Faculty.first.id
  %>  
  
  <ul class="nav navbar-nav">
    <li class="<%= active_class(moderator_galleries_path) %>">
      <%= link_to "Edit Galleries", moderator_galleries_path  %></li>
    <li class="<%= active_class(moderator_notificationtypes_path) %>">
      <%= link_to "Edit News", moderator_notificationtypes_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" 
                  data-toggle="dropdown" 
                  role="button" 
                  aria-haspopup="true" aria-expanded="false">
        Moderator 
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
       <li class="<%= active_class(moderator_faculties_path) %>">
         <%= link_to "Faculties", moderator_faculties_path %></li>
       <li class="<%= active_class(moderator_studytypes_path) %>">
         <%= link_to "StudyTypes", moderator_studytypes_path %></li>
       <li role="separator" class="divider"></li>
       <li class="<%= active_class(moderator_faculty_courseofstudies_path(first_faculty)) %>">
         <%= link_to "CourseOfStudies", moderator_faculty_courseofstudies_path(first_faculty) %></li>
       <li role="separator" class="divider"></li>
       <li class="<%= active_class(moderator_categories_path) %>">
         <%= link_to "Categories" ,moderator_categories_path %></li>
       <li role="separator" class="divider"></li>
       <li class="<%= active_class(moderator_assoziations_path) %>">
         <%= link_to "Assoziations", moderator_assoziations_path %></li>
       <li role="separator" class="divider"></li>
       <li class="<%= active_class(moderator_faculty_lectures_path(first_faculty)) %>">
         <%= link_to "Lectures", moderator_faculty_lectures_path(first_faculty) %></li>
       <li class="<%= active_class(moderator_sections_path) %>">
         <%= link_to "Sections", moderator_sections_path %></li>
       <li role="separator" class="divider"></li>
       <li class="<%= active_class(moderator_connections_path) %>">
         <%= link_to "Connections", moderator_connections_path %></li>
       <li role="separator" class="divider"></li>
       <li class="<%= active_class(moderator_materials_path) %>">
         <%= link_to "Materials", moderator_materials_path %></li>
      </ul>
     </li>
  </ul>
<% end %>